
/* .header { */
/* 	 overflow: hidden; */
/*  	 background-color: #ff8080; */
/*   	 max-height: 20%; */
}
.footer {
	height:40px;
	width:100%;
	position:fixed;
	bottom: 0;
	font-style: italic;
	color: black;
  	margin-bottom: 2px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 15%;
  margin-right: 5px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
  background-color: #e8e8e8;
  color: black;
}

.header a.active {
  background-color: #ff8040;
  color: white;
}

.header-right {
  float: right;
}
.head
{
color: #e8e8e8;
display: inline-block;
}
.form-container {
  border: 0 px solid;
  padding: 30px 20px;
  margin-top: 5vh;
  background-color: white;
}
.list {
  width: 100%;
  height: auto;
}
.btn{        
       font-size: 16px;
       font-weight: bold;
	background: #808080;
	border: none;
	min-width: 140px;
	color: #e8e8e8;
}
#todoTable > tbody > td {
	word-wrap: break-word;
}

.btn-custom {
	min-width: 0px;
	min-height: 0px;
	margin: 0;
	padding-top: 3px;
}
@media (min-width: 768px){
	.col-sm-4-out {
	    width: 15%;
	}
	.col-sm-4-mid {
	 	width: 70%;
	}
}